@model Time_Zone.Models.PasswordChangeModel

<h5>Change Password</h5>
@using (Html.BeginForm("ChangePassword", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.OldPassword, htmlAttributes: new { @class = "control-label" })
        <div>
            @Html.PasswordFor(model => model.OldPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.NewPassword, htmlAttributes: new { @class = "control-label" })
        <div>
            @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label" })
        <div>
            @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div>
            <button type="submit" class="btn btn-primary">Change Password</button>
        </div>
    </div>
    <br />
    <a href="#" id="backToStatusLink" class="btn btn-secondary">Back</a>
}
