@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    @Styles.Render("~/Content/css")

    @if (IsSectionDefined("Styles"))
    {@RenderSection("Styles", required: false)}

    @*123*@
</head>
<body>
    @Html.Partial("_Header")
   
    @RenderBody()
    @Html.Partial("_Footer")
    @Scripts.Render("~/bundles/vendor")

    @RenderSection("scripts", required: false)


</body>
</html>